.login-container {
    text-align: center;
}

.card {
    width: 200px;
    height: 150px;
    border: 1px solid green;
    border-radius: 10px;
}
.card.selected {
    border: green solid 3px;
}
.card-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.image {
    height: 150px;
    width: 200px;
}
.startGame {
    margin-top: 30px;
    background: red;
    color: white;
    height: 100px;
    border-radius: 50%;
    font-weight: bold;
}
.cardsPicture {
    height: 140px;
    background-color: yellow;
}
.gameBoardsImg {
    width: 50px;
    height: 50px;
    border-radius: 20px;
}
.game-board {
    width: 600px;
    height: 600px;
}
.grid {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.cell {
    width: 100px;
    height: 100px;
}
.cell-with-border {
    border: 3px solid green;
    border-radius: 8px;
}
.diceSide {
    height: 80px;
}
.dice-roll-animation {
    transition: transform 1.5s ease-in-out; /* Tranzicija, trukmė 1,5 sekundės, greitis ease-in-out */
}
.dice-roll-animation.rolling {
    animation: roll 1.5s ease-out forwards;
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.rialWayStation {
    background-image: url('../images/railWayStation.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.bankBuild {
    background-image: url("../images/bankBuild.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.seaPort {
    background-image: url("../images/seaPort.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.hotel {
    background-image: url("../images/hotel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.government {
    background-image: url("../images/government.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.warehouse {
    background-image: url("../images/warehause.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.repairWorkshop {
    background-image: url("../images/repair workshop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.arab-bazar {
    background-image: url("../images/arab-bazar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.campingEquipment {
    background-image: url("../images/campingEquipment.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.goldmine {
    background-image: url("../images/goldmine.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.metalurgy {
    background-image: url("../images/metalurgy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.museumOfHistory {
    background-image: url("../images/museumOfHistory.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
